:root {
    --roxo-brilho: #3A04D0;
    --laranja-de-cria: #F25C05;
    --roxo-fundo: #11013E;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: rgba(17, 1, 62, 1);
}

.container-grid {
    width: 90vw;
    max-width: 1375px;
    margin: 0 auto;
}

#header {
    height: 125px;

    background: rgb(22, 1, 77);
    background: linear-gradient(90deg, rgba(22, 1, 77, 1) 20%, rgba(50, 3, 179, 1) 70%);

    background-position: 100% 50%;
}

header button {
    display: none;
}

#header img {
    width: 300px;
}

#header .container-grid {
    height: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu {
    width: 800px;

    display: flex;
    justify-content: space-between;
}

.menu a {
    color: white;
    font-family: 'Rowdies';
    font-size: 20px;

    text-decoration: underline transparent;
    text-decoration-thickness: 4px;
    transition: text-decoration 300ms ease;
}

.menu a:hover {
    text-decoration-color: rgba(242, 92, 5, 1);
}

#banner {
    height: 845px;

    background: rgb(17, 1, 62);
    background-image: url(img/banner\ proporcinal.png);
    background-repeat: no-repeat;

    background-position: 60% 50%;
}

.conteudo-banner {
    padding-top: 100px;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: end;
}

.container-text-b {
    display: none;
}

h2 {
    color: white;

    font-family: "Montserrat Subrayada";
    font-size: 35px;
}

h3 {
    color: white;

    font-family: "Rowdies";
    font-size: 30px;
    font-weight: 400;
}

p {
    color: white;
    font-family: "Inter";
    font-size: 22px;
}

.conteudo-banner h3 {
    width: 570px;

    text-align: center;
}

.conteudo-banner h2 {
    padding-top: 50px;

    height: 210px;
    width: 570px;

    text-align: center;
}

#gamificacao {
    height: 570px;
    display: flex;

    background: rgb(17, 1, 62);
    background: linear-gradient(90deg, rgba(17, 1, 62, 1) 0%, rgba(26, 2, 91, 1) 100%);
    border-radius: 50px;

    margin-bottom: 150px;
}

#gamificacao .secao-gamificacao {
    display: none;
    width: 100%;
    height: 125px;
    background-color: var(--laranja-de-cria);
}

.vetores {
    max-width: 50%;
    display: flex;
    align-items: center;
}

.vetores img {
    max-width: 100%;
    height: auto;
}

.container-text {
    width: 50%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

#gamificacao p {
    width: 75%;

    text-align: center;
}

#portifolio {
    height: 570px;

    background-image: linear-gradient(243deg, rgba(17, 1, 62, 1) 39%, rgba(58, 4, 208, 0) 100%), url(img/Imagem\ do\ jogo.png);

    position: relative;

    border-radius: 50px;
}

.container-portifolio {
    width: 100%;
}

#portifolio .button {
    color: white;
    background-color: rgba(242, 92, 5, 1);

    position: absolute;
    top: calc(75% - 30px);

    bottom: 20px;

    right: 125px;
    height: 100px;
    width: 300px;

    border-radius: 100px;
    border: none;

    font-family: "Rowdies";
    font-size: 30px;

    cursor: pointer;

    text-transform: uppercase;

    transition: background-color 200ms ease;
}

#portifolio .button:hover {
    background-color: rgba(58, 4, 208, 1);
    transform: scale(1.08);
    transition: .3s;
}

.container-text-s2 {
    padding-top: 65px;
    padding-right: 70px;

    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

#portifolio p {
    width: 420px;

    text-align: center;

    padding-top: 110px;
}

#cases .cases-responsivo {
    display: none;
}

#cases {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin-top: 150px;
}

#cases h2 {
    margin-left: 25%;
    margin-bottom: 70px;
}

#cases h3 {
    width: 810px;

    text-align: center;

    margin-bottom: 70px;
}

.container-cards {
    width: 90%;

    overflow-x: auto;
    overflow-y: hidden;
    list-style-type: none;
    flex-wrap: nowrap;
    gap: 150px;

    display: flex;
    justify-content: flex-start;
}

.card {
    width: 500px;
    height: 600px;
    flex-shrink: 0;

    display: flex;
    flex-direction: column;
    align-items: center;

    background: rgb(17, 1, 62);
    background: linear-gradient(180deg, rgba(17, 1, 62, 1) 0%, rgba(26, 2, 91, 1) 100%);

    margin-top: 50px;

    border-radius: 60px;
}


.card p {
    padding: 10%;

    text-align: center;
}

.card h3 {
    width: 369px;

    text-align: center;
}

#contato {
    height: 700px;
    background: #1A025B;

    display: flex;
    flex-direction: column;
    align-items: center;

    border-radius: 60px;

    margin-top: 150px;
    margin-bottom: 150px;
}

#contato h3 {
    width: 75%;

    text-align: center;

    padding-top: 85px;
    padding-bottom: 85px;
}

#contato form {
    display: flex;
    width: 100%;
    justify-content: space-around;

    padding-bottom: 30px;

    color: white;
    font-family: "Inter";
    font-size: 22px;
    flex-wrap: wrap;
}

.campo-esquerda {
    width: 45%;

    padding-left: 15%;
}

.campo-direita {
    width: 45%;

    padding-right: 15%;
}

.campo {
    display: flex;
    flex-direction: column;

    margin-bottom: 50px;
}

.campo input {
    height: 50px;

    color: white;
    background-color: #11013E;

    border: none;
    border-radius: 10px;

    outline: none;

    text-indent: 10px;

    font-family: "Inter";
    font-size: 22px;
}

.campo textarea {
    height: 185px;

    color: white;
    background-color: #11013E;

    border: none;
    border-radius: 10px;

    padding: 10px;

    font-family: "Inter";
    font-size: 22px;

    outline: none;

    text-indent: 10px;

    resize: none;
}

.campo label {
    margin-bottom: 5px;
}

.campo input:focus,
.campo textarea:focus {
    outline: 4px solid #F25C05;
}

.campo input,
.campo textarea {
    transition: outline 0.3s ease;
}

.campo input:hover,
.campo textarea:hover {
    outline: 4px solid #3A04D0;
}

#contato button {
    height: 60px;
    width: 15%;

    font-family: "Rowdies";
    font-size: 30px;

    color: white;
    background-color: #F25C05;

    border: none;
    border-radius: 10px;

    cursor: pointer;

    text-transform: uppercase;

    transition: background-color 200ms ease;
}

#contato button:hover {
    background-color: #3A04D0;
    transform: scale(1.08);
    transition: .3s;
}

footer {
    height: 125px;

    background: rgb(50, 3, 179);
    background: linear-gradient(90deg, rgba(50, 3, 179, 1) 0%, rgba(22, 1, 77, 1) 100%);
}

footer .container-grid {
    width: 75%;
    height: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer img {
    width: 300px;
}

footer button {
    display: none;
}

.redes-sociais {
    width: 23%;
    height: 50%;
}

.container-text-f {
    display: flex;
    flex-direction: column;

    font-family: "Inter";
    font-size: 22px;

    text-align: end;
}

#politicas {
    color: white;

    text-decoration: underline transparent;
    text-decoration-thickness: 2px;
    transition: text-decoration 300ms ease;
}

#termos {
    color: white;

    text-decoration: underline transparent;
    text-decoration-thickness: 2px;
    transition: text-decoration 300ms ease;
}

#politicas:hover {
    text-decoration-color: rgba(242, 92, 5, 1);
}

#termos:hover {
    text-decoration-color: rgba(242, 92, 5, 1);
}

.icones-redes {
    width: 210px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.icones-redes a {
    color: white;
    transition: .3s;
}

.icones-redes a:hover {
    color: #F25C05;
    transform: scale(1.08);
}

#gamificacao .secao-gamificacao {
    display: none;
}

#portifolio .portifolio-responsivo {
    display: none;
}

#contato .contato-responsivo {
    display: none;
}

.box h2 {
    color: white;

    font-family: "Montserrat Subrayada";
    font-size: 35px;
}

#icone-x {
    display: none;
}

.menu-fechado {
    display: block;
}

#icones-redes {
    width: 225px;
    display: none;
}

#icones-redes a {
    transition: .3s;
}

#icones-redes a:hover {
    color: #F25C05;
    transform: scale(1.08);
}


@media screen and (max-width: 1318px) {
    #portifolio .portifolio-responsivo {
        display: none;
    }

    #gamificacao .secao-gamificacao {
        display: none;
    }

    .container-text {
        width: 57%;
    }

    img {
        max-width: 100%;
        height: auto;
        width: 545px;
    }
}

@media screen and (max-width: 1265px) {
    #portifolio .portifolio-responsivo {
        display: none;
    }

    #gamificacao .secao-gamificacao {
        display: none;
    }

    img {
        width: 495px;
    }
}

@media screen and (max-width: 1245px) {
    #portifolio .portifolio-responsivo {
        display: none;
    }


    #gamificacao .secao-gamificacao {
        display: none;
    }

    #banner {
        max-height: 700px;

        padding-bottom: 800px;

        background-image: url(img/banner\ responsivo.png);
        background-repeat: no-repeat;
    }

    .conteudo-banner {
        align-items: center;
    }

    header {
        position: relative;
    }

    header svg {
        fill: #F25C05;
    }

    header button {
        width: 50px;

        display: unset;

        background: none;
        border: none;
    }

    nav.menu {
        height: 500px;
        width: 350px;

        display: none;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;

        background-color: #3A04D0;

        position: absolute;
        top: 125px;
        right: 0px;
    }

    .icones-redes {
        display: none;
    }

    #icones-redes {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

@media screen and (max-width: 1198px) {
    #portifolio .portifolio-responsivo {
        display: none;
    }

    #gamificacao .secao-gamificacao {
        display: none;
    }

    .container-text {
        width: 57%;
    }

    .vetores img {
        width: 450px;
    }

}

@media screen and (max-width: 1160px) {
    .vetores img {
        display: none;
    }

    #gamificacao {
        display: flex;
        justify-content: center;
    }

    .container-text {
        width: 70%;
    }
}

@media screen and (max-width: 1100px) {
    footer .container-grid {
        width: 90%;
    }
}

@media screen and (max-width: 1000px) {
    .vetores img {
        display: none;
    }

    #gamificacao h2{
        padding-bottom: 22%;
    }

    #gamificacao .container-text {
        width: 100%;

        padding-top: 24%;
        display: flex;
        justify-content: center;
    }

    #gamificacao {
        margin-bottom: 500px;
        border-radius: 0px;
        background-image: none;
        background-color: var(--laranja-de-cria);
        height: 125px;
        width: 100%;
    }

    #portifolio {
        height: 725px;
        width: 100%;
        border-radius: 0px;
        background-repeat: no-repeat;
        position: relative;
    }

    .container-text-s2 {
        display: none;
    }

    #portifolio .portifolio-responsivo {
        width: 100%;
        height: 135px;

        background-color: #F25C05;

        display: flex;
        align-items: center;
        flex-direction: column;
        text-align: center;

        padding-top: 5%;
    }

    #portifolio p {
        width: 420px;

        text-align: center;

        padding-top: 270px;
    }

    #portifolio .button-responsivo {
        color: white;
        background-color: rgba(242, 92, 5, 1);
        position: absolute;
        top: calc(4% - 24px);
        bottom: 20px;
        height: 126px;
        width: 92.7%;
        overflow-y: hidden;
        border: none;
        font-family: "Montserrat Subrayada";
        font-size: 35px;
        font-weight: 900;
        cursor: pointer;
        text-transform: uppercase;
        transition: background-color 200ms ease;
    }

    #portifolio .button-responsivo:hover {
        background-color: rgba(58, 4, 208, 1);
        transform: scale(1.08);
        transition: .3s;
    }

    #cases {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        margin-top: 0px;
    }

    .text-cases {
        display: none;
    }

    #cases .cases-responsivo {
        width: 100%;
        height: 135px;

        background-color: #F25C05;

        display: flex;
        align-items: center;
        flex-direction: column;
        text-align: center;

        padding-top: 5%;
    }

    #cases h2 {
        margin-left: 0;
        margin-bottom: 120px;
    }

    .container-cards {
        padding-top: 350px;
    }

    #contato {
        width: 100%;
        height: 1100px;
        background: var(--roxo-fundo);

        display: flex;
        flex-direction: column;
        align-items: center;

        border-radius: 60px;

        margin-top: 150px;
        margin-bottom: 150px;
    }

    #contato .contato-responsivo {
        width: 100%;
        height: 135px;

        background-color: #F25C05;

        display: flex;
        align-items: center;
        flex-direction: column;
        text-align: center;

        padding-top: 5%;

    }

    .campo input {
        width: 640px;
    }

    .campo textarea {
        width: 640px;
    }

    #campo-nome {
        background: #220278;
    }

    #campo-email {
        background: #220278;
    }

    #campo-descricao {
        background: #220278;
    }

    #contato form {
        width: 90%;
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .campo-direita {
        width: 100%;
        padding-right: 0%;
        padding-left: 15%;
    }

    .campo-esquerda {
        width: 100%;
        padding-left: 135px;
        padding-right: 135px;
    }

    #contato button {
        width: 150px;
    }
}

@media screen and (max-width: 900px) {
    #gamificacao .container-text {
        padding-top: 27%;
    }

    #gamificacao h2{
        padding-bottom: 25%;
    }

    #cases h3 {
        width: 90%;
    }
    
    #contato form {
        width: 100%;
    }
}

@media screen and (max-width: 800px) {
    #gamificacao .container-text {
        padding-top: 31%;
    }

    .card {
        height: 500px;
    }

    .container-cards {
        padding-top: 50%;
    }

    #cases h3 {
        width: 90%;
    }

    .icones-redes {
        display: none;
    }

    .campo-esquerda {
        width: 100%;

        padding-left: 0;
        padding-right: 0;
    }

    #contato form {
        width: 70%;
    }

    .campo input {
        width: 100%;
    }

    .campo-direita {
        width: 100%;

        padding-left: 0;
        padding-right: 0;
    }

    .campo textarea {
        width: 100%;
    }
}

@media screen and (max-width: 700px) {
    #gamificacao .container-text {
        padding-top: 37%;
    }

    #gamificacao h2 {
        padding-bottom: 27%;
    }

    .card {
        height: 500px;
    }

    #cases .cases-responsivo {
        padding-top: 7%;
    }

    .container-cards {
        padding-top: 70%;
    }

    #contato .contato-responsivo {
        padding-top: 7%;
    }

    footer {
        height: 200px;
    }

    .container-text-f {
        width: 70%;
    }
}

@media screen and (max-width: 653px) {
    #gamificacao .container-text {
        padding-top: 40%;
    }

    #gamificacao h2 {
        padding-bottom: 28%;
    }

    #portifolio .portifolio-responsivo {
        padding-top: 7%;
    }

    .container-cards {
        padding-top: 70%;
    }

    .redes-sociais {
        width: 10%;
    }
}

@media screen and (max-width: 600px) {
    #banner {
        padding-bottom: 725px;
    }
    
    #gamificacao .container-text {
        padding-top: 42%;
    }

    h2 {
        font-size: 30px;
    }

    h3 {
        font-size: 25px;
    }

    #banner {
        height: 600px;
    }

    #cases .cases-responsivo {
        padding-top: 9%;
    }

    .container-cards {
        padding-top: 85%;
    }

    #portifolio .portifolio-responsivo {
        padding-top: 9%;
    }

    #portifolio .button-responsivo {
        font-size: 30px;
    }

    #contato .contato-responsivo {
        padding-top: 9%;
    }

    footer img {
        display: none;
    }

    footer button {
        display: unset;

        background: none;
        border: none;
    }

    footer button svg {
        width: 150px;
        height: 150px;
    }

    .conteudo-banner h2 {
        width: 500px;
    }

    .conteudo-banner h3 {
        width: 485px;
    }

    .card {
        height: 540px;
    }
}

@media screen and (max-width: 520px) {
    #gamificacao .container-text {
        padding-top: 52%;
    }

    #gamificacao h2 {
        padding-bottom: 33%;
    }

    .conteudo-banner h2 {
        width: 445px;
    }

    .conteudo-banner h3 {
        width: 425px;
    }

    .container-cards {
        gap: 100px;
    }

    .card {
        width: 467px;
    }
}

@media screen and (max-width: 500px) {
    nav.menu {
        width: 100%;
    }

    #gamificacao .container-text {
        padding-top: 55%;
    }

    #gamificacao h2 {
        padding-bottom: 31%;
    }

    h2 {
        font-size: 27px;
    }

    #cases .cases-responsivo {
        padding-top: 11%;
    }

    #portifolio .portifolio-responsivo {
        padding-top: 11%;
    }

    #portifolio .button-responsivo {
        font-size: 27px;
    }

    #contato .contato-responsivo {
        padding-top: 11%;
    }

    .container-cards {
        padding-top: 90%;
    }

    .card {
        width: 449px;
    }

    .redes-sociais {
        width: 0;
        height: 0;
    }

    .container-text-f {
        width: 100%;
    }
}

@media screen and (max-width: 460px) {
    #banner {
        padding-bottom: 740px;
    }

    #gamificacao .container-text {
        padding-top: 56%;
    }

    #portifolio .button-responsivo {
        font-size: 25px;
    }

    #gamificacao h2 {
        padding-bottom: 37%;
        text-align: center;
    }

    h2 {
        font-size: 25px;
    }

    h3 {
        font-size: 22px;
    }

    p {
        font-size: 20px;
    }

    footer button svg {
        display: none;
    }

    .container-text-f {
        text-align: center;
    }

    #portifolio p {
        margin-left: 15px;
        margin-right: 15px;
        width: 92%;
        padding-top: 310px;
    }

    .conteudo-banner h2 {
        font-size: 27px;
        width: 100%;
        margin-right: 15px;
        margin-left: 15px;
    }

    .conteudo-banner h3 {
        margin-left: 15px;
        margin-right: 15px;
        width: 85%;
    }

    .card {
        width: 400px;
    }

    footer {
        height: 125px;
    }

    #contato {
        margin-bottom: 45px;
    }
}

@media screen and (max-width: 420px) {

    #gamificacao .container-text {
        padding-top: 63%;
    }

    #gamificacao h2 {
        padding-bottom: 39%;
        text-align: center;
    }

    .card {
        width: 375px;
    }

    .container-cards {
        gap: 80px;
    }

    #portifolio .portifolio-responsivo {
        padding-top: 13%;
    }

    #portifolio p {
        padding-top: 300px;
    }

    #cases .cases-responsivo {
        padding-top: 13%;
    }

    #contato .contato-responsivo {
        padding-top: 13%;
    }

    #contato {
        margin-bottom: 45px;
    }

    footer {
        height: 125px;
    }
}

@media screen and (max-width: 400px) {
    #header img {
        width: 280px;
    }

    #gamificacao p {
        height: 335px;
    }

    #banner {
        height: 700px;
    }

    #gamificacao .container-text {
        padding-top: 68%;
    }

    #gamificacao h2 {
        text-align: center;
    }

    #cases .cases-responsivo {
        padding-top: 14%;
    }

    #portifolio .portifolio-responsivo {
        padding-top: 14%;
    }

    #contato .contato-responsivo {
        padding-top: 14%;
    }

    .card {
        width: 360px;
    }

    .container-cards {
        padding-top: 100%;
        gap: 75px;
    }

    .container-text-f {
        text-align: center;
    }

    footer button {
        display: none;
    }

    #contato form {
        font-size: 20px;
    }

    .campo input {
        font-size: 20px;
    }

    .campo textarea {
        font-size: 20px;
    }

    footer {
        height: 125px;
    }

    #contato {
        margin-bottom: 45px;
    }
}

@media screen and (max-width: 360px) {
    #header img {
        width: 250px;
    }

    #banner {
        padding-bottom: 770px;
    }

    h2 {
        font-size: 25px;
    }

    #gamificacao .container-text {
        padding-top: 77%;
    }

    .container-cards {
        padding-top: 125%;
    }

    .card {
        width: 320px;
        height: 600px;
    }

    #contato {
        margin-bottom: 45px;
    }
}

@media screen and (max-width: 320px) {
    #header img {
        width: 220px;
    }

    #banner {
        padding-bottom: 800px;
    }

    #gamificacao .container-text {
        padding-top: 88%;
    }

    #gamificacao h2 {
        padding-bottom: 31%;
        text-align: center;
    }

    .card {
        width: 290px;
        height: 600px;
    }

    .container-cards {
        padding-top: 150%;
    }

    #portifolio .portifolio-responsivo {
        padding-top: 16%;
    }

    #cases .cases-responsivo {
        padding-top: 16%;
    }

    footer {
        height: 125px;
    }

    #contato {
        margin-bottom: 45px;
    }
}